/**
 * Author: Reagan McFadden
 * Description: Custom css for inuk-tube 
 * Version: 1.1
 * 
**/
/**-------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Dependencies
# Elements
# Globals ( Classes & ID's)
# Header
  ## Nav
  ## Banner
# Content
  ## Video (partials)
  ## Categories
  ## Upload & Confirm
#Extenders
-------------------------------------------------------------**/
/*--------------------------------------------------------------
# Dependencies >>>
--------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* spacing and breakpoints */
/* Branding */
/* Standards */
/* Social */
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0 0 7.5px;
  padding: 0 15px;
}

img,
input,
label,
select,
textarea,
button,
video,
iframe {
  margin: 0 15px 9.99px;
  max-width: 100%;
}

h1 label,
h2 label,
h3 label,
h4 label,
h5 label {
  margin: 0 !important;
}

ol > li,
ul > li {
  margin: 15px 0;
}

ol {
  list-style-type: decimal !important;
}

ol > li > ul {
  margin-left: 15px;
}

table {
  margin: 15px 0;
}

table tr td {
  padding: 7.5px;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
  color: #3f3f3f;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 0.2em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 600;
}

@media (min-width: 600px) {
  h5 {
    font-size: 1.1em;
  }
}

h4 {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 600;
}

@media (min-width: 600px) {
  h4 {
    font-size: 1.15em;
  }
}

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
}

@media (min-width: 600px) {
  h3 {
    font-size: 1.2em;
  }
}

h2 {
  font-size: 1.75em;
  line-height: 1.75em;
  font-weight: 700;
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.3em;
  }
}

h1 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
}

li,
p {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 1.5em;
}

aside {
  line-height: 1.5em;
  letter-spacing: 1.2px;
}

textarea {
  line-height: 1.2em !important;
}

.extra-light {
  font-weight: 100;
}

.light {
  font-weight: 200;
}

.thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold,
strong {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

/*
    Layout styles
*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.row img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.no-wrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.column {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.justify-self-start {
  justify-self: flex-start !important;
}

.justify-self-center {
  justify-self: center !important;
}

.justify-self-between {
  justify-self: space-between !important;
}

.justify-self-around {
  justify-self: space-around !important;
}

.justify-self-end {
  justify-self: flex-end !important;
}

.align-items-start {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.align-items-end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      -ms-grid-row-align: stretch !important;
      align-self: stretch !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.full {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 100% !important;
          flex: 1 0 100% !important;
  width: 100% !important;
}

.two-third {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 50% !important;
          flex: 1 0 50% !important;
  width: 50% !important;
}

.half {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 40% !important;
          flex: 1 0 40% !important;
  width: 40% !important;
}

.one-third {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 25% !important;
          flex: 1 0 25% !important;
  width: 25% !important;
}

.one-quarter {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 0 20% !important;
          flex: 1 0 20% !important;
  width: 20% !important;
}

.no-grow {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.no-shrink {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.justify-right {
  margin-left: auto !important;
}

.justify-left {
  margin-right: auto !important;
}

/*--------------------------------------------------------------
# Elements >>>
--------------------------------------------------------------*/
#main-nav ul li a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Globals >>>
--------------------------------------------------------------*/
.content-wrapper {
  max-width: 1125px;
  margin: 0 auto;
}

.keyword {
  background: yellow;
}

/*--------------------------------------------------------------
# Header >>>
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	## Nav 
	--------------------------------------------------------------*/
nav#main-nav {
  background-color: #060606;
}

nav#main-nav ul {
  padding: 7.5px 0;
}

nav#main-nav ul li {
  margin: 0 15px;
}

nav#main-nav ul li:first-of-type {
  margin-left: 15px;
}

nav#main-nav ul li:last-of-type {
  margin-right: 15px;
}

nav#main-nav ul li a {
  color: #fff;
  font-weight: 600;
}

nav#main-nav ul li form {
  margin: 0;
}

nav#main-nav ul li form input {
  line-height: 1.5em;
  margin: 0;
  padding: 2.5px 5px;
  color: white;
  background: #060606;
  border: none;
}

nav#main-nav ul li img.nav-pinnguaq {
  max-width: 50px;
}

nav#main-nav ul .menu-icon {
  display: none;
  color: #fff;
  font-size: 2em;
}

#menu-state {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.link-back {
  display: none;
}

@media (min-width: 975px) {
  display: block;
}

@media (max-width: 750px) {
  nav#main-nav ul.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav#main-nav ul.nav li {
    margin-top: 15px;
    transition-timing-function: ease-out;
    transition: 1s;
    overflow-y: hidden;
  }
  nav#main-nav ul.nav li form input[name~=query] {
    text-align: center;
    margin-left: 15px !important;
  }
  nav#main-nav ul.nav .justify-right {
    margin: inherit;
  }
  nav#main-nav ul.nav .menu-icon {
    display: block;
  }
  nav#main-nav ul.nav .menu-icon label {
    padding-right: 45px;
    padding-left: 45px;
    cursor: pointer;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav#main-nav ul.nav .menu-icon label span {
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    transition: 1s;
  }
  nav#main-nav ul.nav .menu-icon label span:last-of-type {
    -webkit-transform: rotate(45deg) translate(-3px, -6px);
            transform: rotate(45deg) translate(-3px, -6px);
  }
  nav#main-nav ul.nav .menu-icon label span:nth-of-type(2) {
    display: none;
  }
  nav#main-nav ul.nav .menu-icon label span:first-of-type {
    -webkit-transform: rotate(-45deg) translate(0px, 3px);
            transform: rotate(-45deg) translate(0px, 3px);
  }
  nav#main-nav ul.nav input[name="menu-state"]:checked ~ li {
    height: 0;
    transition-timing-function: ease-in;
    transition: 1s;
    margin: 0;
    padding: 0;
  }
  nav#main-nav ul.nav input[name="menu-state"]:checked ~ li.menu-icon {
    height: auto;
    margin-top: 0;
  }
  nav#main-nav ul.nav input[name="menu-state"]:checked ~ li.menu-icon label span {
    -webkit-transform: none;
            transform: none;
    transition: 1s;
  }
  nav#main-nav ul.nav input[name="menu-state"]:checked ~ li.menu-icon label span:nth-of-type(2) {
    display: block;
    transition: 1s;
  }
}

/*--------------------------------------------------------------
## Banner >>>
--------------------------------------------------------------*/
div#banner {
  background-color: #14314b;
  background-image: url("/images/banner.jpg");
  background-size: cover;
}

@media (min-width: 750px) {
  div#banner {
    background-image: url("/images/banner-2x.jpg");
  }
}

@media (min-width: 1275px) {
  div#banner {
    background-image: url("/images/banner-3x.jpg");
  }
}

div#banner a.brand-logo-link img {
  margin: 0;
}

/*--------------------------------------------------------------
# Content >>>
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	## Videos(Partials) >>>
	--------------------------------------------------------------*/
.video .video-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video .video-embed-container iframe.video-embed {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video .video-description-container .video-description {
  display: none;
}

.video .video-description-container .description-short {
  display: block;
}

.video .video-fold .video-stats li:nth-of-type(3) .video-tags-container {
  margin-top: -7.5px;
}

.video .video-fold .video-stats li:nth-of-type(3) .video-tags-container .video-tag {
  background-color: #727272;
}

.video-stats {
  margin-left: 0;
  margin-right: 0;
}

.video-stats li .shares li {
  margin: 0 3.75px;
  max-width: 50px;
}

.video-stats li .shares li:first-of-type {
  margin-left: 0;
}

.video-stats li .shares li:last-of-type {
  margin-right: 0;
}

.video-stats li .shares li a {
  max-width: 100%;
}

.video-stats li .shares li a img {
  margin: 0;
}

.video-preview {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

@media (min-width: 750px) {
  .video-preview {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
  }
}

.video-preview a.video-thumbnail-wrapper div.video-thumbnail {
  width: 100%;
  height: 110px;
  background-size: cover;
  background-position-x: 25%;
}

.video-preview h4 {
  font-size: 0.9em;
  line-height: 1.2em;
  padding-left: 0;
  padding-right: 0;
}

.video-preview h4 a:hover {
  text-decoration: underline;
  color: #3f3f3f;
}

.video-preview div.preview-video-stats {
  padding-left: 0;
  padding-right: 0;
}

.video-preview div.preview-video-stats span {
  font-size: 0.8em;
  color: #727272;
}

.video-preview div.preview-video-stats span.views {
  text-align: right;
}

.video-preview div.preview-video-stats span.dot {
  padding: 0 5px;
}

#featured {
  background-color: #14314b;
}

#featured h2 {
  text-transform: uppercase;
  color: #fff;
}

#featured .feature-container {
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

#featured .feature-container a.feature-item {
  background-size: cover;
  background-position-y: 50%;
  overflow: hidden;
  opacity: 0.8;
}

#featured .feature-container a.feature-item:hover {
  opacity: 1;
}

@media (min-width: 750px) {
  #featured .feature-container .slick-list:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #14314b 0%, rgba(20, 49, 75, 0.99) 20%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#14314b', endColorstr='#00ffffff',GradientType=1 );
    z-index: 3;
  }
  #featured .feature-container .slick-list:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to left, #14314b 0%, rgba(20, 49, 75, 0.99) 20%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00ffffff', endColorstr='#14314b',GradientType=1 );
    z-index: 3;
  }
}

#featured .feature-container .slick-list .slick-track .slick-slide {
  margin: 15px;
  padding-top: 4.25%;
  padding-bottom: 15px;
}

#featured .feature-container .slick-list .slick-track .slick-slide h3 {
  color: #fff;
  margin-top: -2em;
  position: absolute;
  display: none;
  font-size: 0.8em;
  max-width: 200px;
}

@media (min-width: ds) {
  #featured .feature-container .slick-list .slick-track .slick-slide h3 {
    max-width: 300px;
  }
}

@media (min-width: 1275px) {
  #featured .feature-container .slick-list .slick-track .slick-slide h3 {
    font-size: 1.5em;
    max-width: 400px;
  }
}

#featured .feature-container .slick-list .slick-track .slick-slide div {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 8.33333333%;
}

#featured .feature-container .slick-list .slick-track .slick-slide.slick-current h3 {
  display: block;
}

#featured .feature-container .slick-dots {
  position: static;
}

#featured .feature-container .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

#featured .feature-container .slick-dots li.slick-active button {
  background-color: #fff;
}

#recent {
  background-color: #00B3A5;
}

#recent h2 {
  text-transform: uppercase;
  color: #060606;
}

#recent .recent-container {
  margin-bottom: 0;
  overflow: hidden;
}

#recent .recent-container button.slick-prev.slick-arrow,
#recent .recent-container button.slick-next.slick-arrow {
  margin: 0;
  position: absolute;
}

#recent .recent-container .slick-list .slick-track .slick-slide {
  cursor: pointer;
  margin: 15px;
  padding-bottom: 15px;
}

#recent .recent-container .slick-list .slick-track .slick-slide a.video-thumbnail-wrapper {
  padding-top: 3.5%;
}

#recent .recent-container .slick-list .slick-track .slick-slide a.video-thumbnail-wrapper div.video-thumbnail {
  width: 100%;
  padding-top: 50%;
  background-size: cover;
  background-position-x: 25%;
}

#recent .recent-container .slick-list .slick-track .slick-slide h4 {
  padding-left: 0;
  padding-right: 0;
}

#recent .recent-container .slick-list .slick-track .slick-slide h4 a {
  color: #fff;
}

div.video-tags-container {
  margin-left: -2.5px;
  margin-right: -2.5px;
}

div.video-tags-container div.video-tag {
  background-color: #336666;
  padding: 7.5px;
  margin: 5px 2.5px 0;
  font-weight: 800;
  font-size: .8em;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
}

#related {
  background: #00B3A5;
}

#related a,
#related h2,
#related h4,
#related span {
  color: #fff;
}

#related span {
  opacity: 90%;
}

/*--------------------------------------------------------------
	## Categories(Partials) >>>
	--------------------------------------------------------------*/
.categories-bar h2 {
  color: #060606;
  text-transform: uppercase;
}

.categories-bar ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  font-weight: bold;
}

.categories-bar ul li a {
  text-transform: uppercase;
  text-decoration: none;
}

.categories-bar ul li a:hover {
  color: #060606;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagination li {
  margin: 15px;
}

.pagination li a {
  text-decoration: none;
}

/*--------------------------------------------------------------
	## Upload Page >>>
	--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Extenders >>>
--------------------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-upper {
  text-transform: uppercase;
}

.p-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.m-0 {
  margin: 0 0;
}

.m-1 {
  margin: 15px;
}

.m-2 {
  margin: 18.75px;
}

.m-3 {
  margin: 22.5px;
}

.m-4 {
  margin: 26.25px;
}

.m-5 {
  margin: 30px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin: 15px 0;
}

.my-2 {
  margin: 18.75px 0;
}

.my-3 {
  margin: 22.5px 0;
}

.my-4 {
  margin: 26.25px 0;
}

.my-5 {
  margin: 30px 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1, .video .video-embed-container {
  margin: 0 15px;
}

.mx-2 {
  margin: 0 18.75px;
}

.mx-3 {
  margin: 0 22.5px;
}

.mx-4 {
  margin: 0 26.25px;
}

.mx-5 {
  margin: 0 30px;
}

.mt-1 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 15px;
}

.mt-2 {
  margin-top: 18.75px;
}

.mt-3 {
  margin-top: 22.5px;
}

.mt-4 {
  margin-top: 26.25px;
}

.mt-5 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 15px;
}

.mb-2 {
  margin-bottom: 18.75px;
}

.mb-3 {
  margin-bottom: 22.5px;
}

.mb-4 {
  margin-bottom: 26.25px;
}

.mb-5 {
  margin-bottom: 30px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 15px;
}

.ml-2 {
  margin-left: 18.75px;
}

.ml-3 {
  margin-left: 22.5px;
}

.ml-4 {
  margin-left: 26.25px;
}

.ml-5 {
  margin-left: 30px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 15px;
}

.mr-1 {
  margin-right: 15px;
}

.mr-2 {
  margin-right: 18.75px;
}

.mr-3 {
  margin-right: 22.5px;
}

.mr-4 {
  margin-right: 26.25px;
}

.mr-5 {
  margin-right: 30px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 15px;
}

.p-2 {
  padding: 18.75px;
}

.p-3 {
  padding: 22.5px;
}

.p-4 {
  padding: 26.25px;
}

.p-5 {
  padding: 30px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding: 15px 0;
}

.py-2 {
  padding: 18.75px 0;
}

.py-3 {
  padding: 22.5px 0;
}

.py-4 {
  padding: 26.25px 0;
}

.py-5 {
  padding: 30px 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding: 0 15px;
}

.px-2 {
  padding: 0 18.75px;
}

.px-3 {
  padding: 0 22.5px;
}

.px-4 {
  padding: 0 26.25px;
}

.px-5 {
  padding: 0 30px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 15px;
}

.pt-2 {
  padding-top: 18.75px;
}

.pt-3 {
  padding-top: 22.5px;
}

.pt-4 {
  padding-top: 26.25px;
}

.pt-5 {
  padding-top: 30px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 15px;
}

.pb-2 {
  padding-bottom: 18.75px;
}

.pb-3 {
  padding-bottom: 22.5px;
}

.pb-4 {
  padding-bottom: 26.25px;
}

.pb-5 {
  padding-bottom: 30px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 15px;
}

.pl-2 {
  padding-left: 18.75px;
}

.pl-3 {
  padding-left: 22.5px;
}

.pl-4 {
  padding-left: 26.25px;
}

.pl-5 {
  padding-left: 30px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 15px;
}

.pr-2 {
  padding-right: 18.75px;
}

.pr-3 {
  padding-right: 22.5px;
}

.pr-4 {
  padding-right: 26.25px;
}

.pr-5 {
  padding-right: 30px;
}
