h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0 0 ($gutter * 0.5);
  padding: 0 $gutter;
}
img,
input,
label,
select,
textarea,
button,
video,
iframe {
  margin: 0 $gutter ($gutter * 0.666);
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5{
  label{margin:0 !important;}
}

ol > li,
ul > li {
  margin: $gutter 0;
}

ol {
  list-style-type: decimal !important;
}

ol > li > ul {
  margin-left: $gutter;
}
table{
    tr{
        td{
        padding:$gutter * 0.5;
        }
    }
margin: $gutter 0;
}