/* 
 * Development ASSET
 * PLEASE REMOVE FROM PRODUCTION
 * Author: Reagan McFadden
 * Description: Css for templating
 * Version: 0.0.1
 * 
 */


.imgsqr{
  background:#ccc;
  width:150px;
  height:150px;
  max-width:100%;
}

.box{
    background:#ddd;
}