#featured {
  background-color: $brand-secondary;

  h2 {
    text-transform: uppercase;
    color: $white;
  }

  .feature-container {
    max-width: 100%;
    overflow: hidden;
    margin-bottom:0;

    a.feature-item {
      background-size: cover;
      background-position-y: 50%;
      overflow:hidden;
      opacity: 0.8;
      &:hover{
        opacity: 1;
      }
    }
    

    .slick-list {
      @media(min-width:$tl){
        $units:20%;
      &:before {
        content: '';
        position: absolute;
      
        left: 0;
        top:0;
        width: $units;
        height: 100%;
        background: linear-gradient(to right, rgba(20,49,75,1) 0%,rgba(20,49,75,0.99) $units,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#14314b', endColorstr='#00ffffff',GradientType=1 );
        z-index: 3;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top:0;
        width: $units;
        height: 100%;
        background: linear-gradient(to left, rgba(20,49,75,1) 0%,rgba(20,49,75,0.99) $units,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#00ffffff', endColorstr='#14314b',GradientType=1 );
        z-index: 3;
      }
      }

      .slick-track {
        .slick-slide {
          margin: 15px;
          // padding 66% is to retain a 3:2 ratio.
          // padding 75% is to retain a 4:3 ratio.
          // At 5 items there will always be 12-14 slides
          // each slide defaults to the width of the sum of all slides.
          // thus we devide 1 / # of slides and minus a bit for padding.
          padding-top: (75% * ( 1 / 12 ) - 2%);
          padding-bottom:$gutter;

          h3 {
            color: $white;
            margin-top: -2em;
            position: absolute;
            display: none;
            font-size:0.8em;
            max-width: 200px;
            @media(min-width:ds){
              max-width: 300px;
            }
            @media(min-width:$dm){
              font-size:1.5em;
              max-width: 400px;
						}
          }

          div {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100% * (1/12);
          }
        }

        .slick-slide.slick-current{
          h3 {
            display: block;
          }
        }
      }
    }

    .slick-dots {
      position: static;

      li {
        button {
          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: rgba(255,255,255, 0.5);
        }
      }

      li.slick-active {
        button {
          background-color: $white;
        }
      }

    }
  }
}