/*
    Layout styles
*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  img {
    align-self: flex-start;
  }
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.column {
  display: flex !important;
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-self-start {
  justify-self: flex-start !important;
}

.justify-self-center {
  justify-self: center !important;
}

.justify-self-between {
  justify-self: space-between !important;
}

.justify-self-around {
  justify-self: space-around !important;
}

.justify-self-end {
  justify-self: flex-end !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.full {
  flex: 1 0 100% !important;
  width: 100% !important;
}

.two-third {
  flex: 1 0 50% !important;
  width: 50% !important;
}

.half {
  flex: 1 0 40% !important;
  width: 40% !important;
}

.one-third {
  flex: 1 0 25% !important;
  width: 25% !important;
}

.one-quarter {
  flex: 1 0 20% !important;
  width: 20% !important;
}
.no-grow{
  flex-grow: 0;
}
.no-shrink{
  flex-shrink: 0;
}
//hax
.justify-right{
  margin-left:auto !important;
}

.justify-left{
  margin-right:auto !important;
}