#recent {
  background-color: $brand-primary;
  h2 {
		text-transform: uppercase;
		color:$black;
  }

  .recent-container {
		margin-bottom:0;
		overflow: hidden;
		
		button.slick-prev.slick-arrow,
		button.slick-next.slick-arrow{
			margin:0;
			position: absolute;
		}
	
    .slick-list {
      .slick-track {
        .slick-slide {
					cursor: pointer;
          margin: 15px;
					padding-bottom:$gutter;
					
					a.video-thumbnail-wrapper {
						padding-top: (66% * ( 1 / 12 ) - 2%);
						div.video-thumbnail {
							width: 100%;
							padding-top:50%;
							background-size: cover;
							background-position-x: 25%;
						}
					}
					h4{
						padding-left:0;
						padding-right:0;
					a{
						color:$white;
					}
				}
        }
      }
    }
	}
}