.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

.text-upper{
  text-transform: uppercase;
}
.p-break{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.m-0{margin: 0 0 ;}
.m-1{margin:$gutter;}
.m-2{margin:$gutter * 1.25;}
.m-3{margin:$gutter * 1.5;}
.m-4{margin:$gutter * 1.75;}
.m-5{margin:$gutter * 2;}

.my-0{ margin-top:0; margin-bottom:0;}
.my-1{margin:$gutter 0;}
.my-2{margin:($gutter * 1.25) 0;}
.my-3{margin:($gutter * 1.5) 0}
.my-4{margin:($gutter * 1.75) 0;}
.my-5{margin:($gutter * 2) 0;}

.mx-0{margin-left:0;margin-right:0;}
.mx-1{margin: 0 $gutter ;}
.mx-2{margin: 0 ($gutter * 1.25);}
.mx-3{margin: 0 ($gutter * 1.5);}
.mx-4{margin: 0 ($gutter * 1.75);}
.mx-5{margin: 0 ($gutter * 2) ;}

.mt-1{margin-top: 0;}
.mt-1{margin-top: $gutter ;}
.mt-2{margin-top: ($gutter * 1.25);}
.mt-3{margin-top: ($gutter * 1.5)}
.mt-4{margin-top: ($gutter * 1.75);}
.mt-5{margin-top: ($gutter * 2) ;}

.mb-0{margin-bottom: 0;}
.mb-1{margin-bottom: $gutter ;}
.mb-2{margin-bottom:($gutter * 1.25);}
.mb-3{margin-bottom:($gutter * 1.5);}
.mb-4{margin-bottom:($gutter * 1.75);}
.mb-5{margin-bottom:($gutter * 2) ;}

.ml-0{margin-left:0;}
.ml-1{margin-left:$gutter;}
.ml-2{margin-left:($gutter * 1.25);}
.ml-3{margin-left:($gutter * 1.5)}
.ml-4{margin-left:($gutter * 1.75);}
.ml-5{margin-left:($gutter * 2) ;}

.mr-0{margin-right:0;}
.mr-1{margin-right:$gutter;}
.mr-1{margin-right:$gutter;}
.mr-2{margin-right:($gutter * 1.25);}
.mr-3{margin-right:($gutter * 1.5);}
.mr-4{margin-right:($gutter * 1.75);}
.mr-5{margin-right:($gutter * 2) ;}

.p-0{padding:0;}
.p-1{padding:$gutter;}
.p-2{padding:$gutter * 1.25;}
.p-3{padding:$gutter * 1.5;}
.p-4{padding:$gutter * 1.75;}
.p-5{padding:$gutter * 2;}

.py-0{padding-top:0;padding-bottom:0;}
.py-1{padding:$gutter 0;}
.py-2{padding:($gutter * 1.25) 0;}
.py-3{padding:($gutter * 1.5) 0;}
.py-4{padding:($gutter * 1.75) 0;}
.py-5{padding:($gutter * 2) 0;}

.px-0{padding-left:0; padding-right:0;}
.px-1{padding: 0 $gutter ;}
.px-2{padding: 0 ($gutter * 1.25);}
.px-3{padding: 0 ($gutter * 1.5);}
.px-4{padding: 0 ($gutter * 1.75);}
.px-5{padding: 0 ($gutter * 2) ;}

.pt-0{padding-top:0;}
.pt-1{padding-top: $gutter ;}
.pt-2{padding-top: ($gutter * 1.25);}
.pt-3{padding-top: ($gutter * 1.5);}
.pt-4{padding-top: ($gutter * 1.75);}
.pt-5{padding-top: ($gutter * 2) ;}

.pb-0{padding-bottom:0;}
.pb-1{padding-bottom: $gutter ;}
.pb-2{padding-bottom:($gutter * 1.25);}
.pb-3{padding-bottom:($gutter * 1.5);}
.pb-4{padding-bottom:($gutter * 1.75);}
.pb-5{padding-bottom:($gutter * 2) ;}

.pl-0{padding-left:0;}
.pl-1{padding-left:$gutter;}
.pl-2{padding-left:($gutter * 1.25);}
.pl-3{padding-left:($gutter * 1.5);}
.pl-4{padding-left:($gutter * 1.75);}
.pl-5{padding-left:($gutter * 2) ;}

.pr-0{padding-right:0;}
.pr-1{padding-right:$gutter;}
.pr-2{padding-right:($gutter * 1.25);}
.pr-3{padding-right:($gutter * 1.5);}
.pr-4{padding-right:($gutter * 1.75);}
.pr-5{padding-right:($gutter * 2) ;}