/**
 * Author: Reagan McFadden
 * Description: Custom css for inuk-tube 
 * Version: 1.1
 * 
**/

/**-------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Dependencies
# Elements
# Globals ( Classes & ID's)
# Header
  ## Nav
  ## Banner
# Content
  ## Video (partials)
  ## Categories
  ## Upload & Confirm
#Extenders
-------------------------------------------------------------**/

/*--------------------------------------------------------------
# Dependencies >>>
--------------------------------------------------------------*/
@import 'reset';
@import 'variables';
@import 'base';
@import 'typography';
@import 'flex';

/*--------------------------------------------------------------
# Elements >>>
--------------------------------------------------------------*/

#main-nav ul li,
h1,
h2,
h3,
h4,
h5 {
  a {
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# Globals >>>
--------------------------------------------------------------*/

.content-wrapper {
  // max-width: $dm;
  max-width: 1125px;
  margin: 0 auto;
}

.keyword {
  background: yellow;
}

/*--------------------------------------------------------------
# Header >>>
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Nav 
	--------------------------------------------------------------*/

nav#main-nav {
  background-color: $black;

  ul {
    padding: 7.5px 0;

    li {
      margin: 0 $gutter;

      &:first-of-type {
        margin-left: $gutter;
      }

      &:last-of-type {
        margin-right: $gutter;
      }

      a {
        color: $white;
        font-weight: 600;
      }

      form {
        margin: 0;

        input {
          line-height: $base * 1.5;
          margin: 0;
          padding: 2.5px 5px;
          color: white;
          background: $black;
          border: none;
        }
      }

      img.nav-pinnguaq {
        max-width: 50px;
      }
    }

    .menu-icon {
      display: none;
      color: $white;
      font-size: 2em;
    }
  }
}

#menu-state {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.link-back {
    display: none;
  }

@media(min-width:$ds){
    display: block;
}
@media(max-width:$tl) {
  nav#main-nav {
    ul.nav {
      flex-direction: column;

      li {
        margin-top: $gutter;
        transition-timing-function: ease-out;
        transition: 1s;
        overflow-y: hidden;

        form {
          input[name~=query] {
            text-align: center;
            margin-left: 15px !important;
          }
        }
      }

      .justify-right {
        margin: inherit;
      }

      .menu-icon {
        display: block;

        label {
          padding-right: $gutter * 3;
          padding-left: $gutter * 3;
          cursor: pointer;
          color: white;
          display: flex;
          flex-direction: column;

          span {
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            background-color: $white;
            border-radius: 3px;
            transition: 1s;
          }

          span:last-of-type {
            transform: rotate(45deg) translate(-3px, -6px);
          }

          span:nth-of-type(2) {
            display: none;
          }

          span:first-of-type {
            transform: rotate(-45deg) translate(0px, 3px);
          }

        }
      }

      input[name="menu-state"]:checked ~ li {
        height: 0;
        transition-timing-function: ease-in;
        transition: 1s;

        margin: 0;
        padding: 0;

      }

      input[name="menu-state"]:checked ~ li.menu-icon {
        height: auto;
        margin-top: 0;

        label {
          span {
            transform: none;
            transition: 1s;
          }

          span:nth-of-type(2) {
            display: block;
            transition: 1s;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
## Banner >>>
--------------------------------------------------------------*/

div#banner {
  background-color: $brand-secondary;
  background-image: url('/images/banner.jpg');
  background-size: cover;
  @media(min-width: $tl) {
    background-image: url('/images/banner-2x.jpg');
  }
  @media(min-width:$dm) {
    background-image: url('/images/banner-3x.jpg');
  }

  a.brand-logo-link {
    img {
      margin: 0;
    }
  }
}

/*--------------------------------------------------------------
# Content >>>
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Videos(Partials) >>>
	--------------------------------------------------------------*/

.video {
  .video-embed-container {
    @extend .mx-1;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe.video-embed {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video-description-container {
    .video-description {
      display: none;
    }

    .description-short {
      display: block;
    }
  }
  .video-fold{
      .video-stats{
          li:nth-of-type(3){
            .video-tags-container{
                margin-top:-($gutter /2);
                .video-tag{
                    background-color:#727272;
                }
            }
          }
      }
  }
}

.video-stats {
  margin-left: 0;
  margin-right: 0;

  li {
    .shares {
      // width:80%;
      li {
        margin: 0 ($gutter/4);
        max-width: 50px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }

        a {
          max-width: 100%;

          img {
            margin: 0;
          }
        }
      }
    }
  }
}

.video-preview {
  flex: 1 0 150px;
  @media(min-width: $tl) {
    flex: 1 0 250px;
  }

  a.video-thumbnail-wrapper {
    div.video-thumbnail {
      width: 100%;
      height: 110px;
      background-size: cover;
      background-position-x: 25%;
    }
  }

  h4 {
    font-size: $base * .9;
    line-height: $base * 1.2;
    padding-left: 0;
    padding-right: 0;

    a:hover {
      text-decoration: underline;
      color: $gray-dull;
    }
  }

  div.preview-video-stats {
    padding-left: 0;
    padding-right: 0;

    span {
      font-size: $base * .8;
      color: $gray-light;
    }

    span.views {
      text-align: right;
    }

    span.dot {
      padding: 0 5px;
    }
  }
}

@import 'featured_slider';
@import 'recent_slider';

div.video-tags-container {
  margin-left: -2.5px;
  margin-right: -2.5px;

  div.video-tag {
    background-color: $brand-alt;
    padding: 7.5px;
    margin: 5px 2.5px 0;
    font-weight: 800;
    font-size: .8em;
    color: $white;
    text-transform: uppercase;
    border-radius: 2px;
    // &:hover{
    //   background-color: darken($brand-alt, 5%);
    // }
  }
  // .video-tag:first-of-type{
  //   margin-left:0;
  // }
}

#related {
  background: $brand-primary;

  a,
  h2,
  h4,
  span {
    color: $white;
  }

  span {
    opacity: 90%;
  }
}

/*--------------------------------------------------------------
	## Categories(Partials) >>>
	--------------------------------------------------------------*/

.categories-bar {
  h2 {
    color: $black;
    text-transform: uppercase;
  }

  ul {
    li {
      flex: 0 0 20%;
      // background:yellow;
      font-weight: bold;

      a {
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
          color: $black;
        }
      }
    }
  }
}

.pagination{
  display:flex;
  flex-direction: row;
  li{
    margin: $gutter;
    a{
      text-decoration: none;
    }
  }
}
/*--------------------------------------------------------------
	## Upload Page >>>
	--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Extenders >>>
--------------------------------------------------------------*/
@import 'spacing';